.gallery {
}
.gallery > .filter {
  text-align: center;
}
.gallery > .filter > .tag {
  display: inline-block;
  margin: 5px;
  background-color: #fff;
  color: #333;
  padding: 7px 15px;
  border: 1px solid #777;
  border-radius: 6px;
  transition: all 0.5s;
  cursor: pointer;
}
.gallery > .filter > .tag:hover,
.gallery > .filter > .tag.active {
  background-color: var(--main-color);
  color: #fff;
}
.gallery > .item {
  box-shadow: 0 0 8px #0003;
}
.gallery > .item.hidden {
  display: none;
}
