.gallery {
}
.gallery > .filter {
  text-align: center;
}
.gallery > .filter > .tag {
  display: inline-block;
  margin: 5px;
  background-color: #fff;
  color: #333;
  padding: 7px 15px;
  border: 1px solid #777;
  border-radius: 6px;
  transition: all 0.5s;
  cursor: pointer;
}
.gallery > .filter > .tag:hover,
.gallery > .filter > .tag.active {
  background-color: var(--main-color);
  color: #fff;
}
.gallery > .item {
  overflow: hidden;
  height: 250px;
  position: relative;
  box-shadow: 0 0 8px #0003;
}
.gallery > .item > img {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
  transition: all 1s;
}
.gallery > .item > .layer {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000;
  transition: all 1s;
}
.gallery > .item > .layer > .fa {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3c4858;
  color: #fff;
  opacity: 0;
  transition: all 1s;
}
.gallery > .item > .texts {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  text-align: center;
  padding: 15px;
}
.gallery > .item > .texts > .title {
  font-size: 24px;
}

.gallery > .item:hover > .layer {
  background-color: #0005;
}
.gallery > .item:hover > .layer > .fa {
  opacity: 1;
}
.gallery > .item:hover > .layer > .fa:hover {
  background-color: #fff;
  color: #3c4858;
}
.gallery > .item:hover > img {
  width: 120%;
  transform: translate(-50%, -10%) rotate(20deg);
}
