header.container {
  padding-top: 0;
  padding-bottom: 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  transition: all 0.3s;
  background-color: #fff;
}

header.container > .row {
  transition: all 0.3s;
}

main > section:first-of-type {
  padding-top: 140px;
}

header img.logo {
  float: left;
  height: 18px;
  margin-top: 11px;
}

header .fa-bars {
  width: 40px;
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  float: right;
  background-color: transparent;
}
header .fa-bars:focus {
  border: 5px solid #333;
  line-height: 30px;
  border-radius: 8px;
}

header nav {
  /* display: flex; */
  display: none;
  flex-direction: row;
  gap: 10px;
}
header.expand nav {
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: column;
}
header nav > a {
}

header .socials {
  display: none;
}
header.expand .socials {
  display: inline-block;
}

header.container.scroll {
  background-color: #fff;
  box-shadow: 0 15px 25px #0002;
}
header.scroll > .row {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  header.container {
    display: inline-block;
    background-color: transparent;
  }
  header .col-12 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header.container nav {
    display: flex !important;
    flex-direction: row;
    gap: 30px;
    padding-top: 0;
    padding-bottom: 0;
    width: auto;
  }
}
