.hobbie {
  display: flex;
  flex-direction: row;
  background-color: #f9fafd;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.hobbie > .icon {
  padding: 10px;
  border-right: 1px solid #ccc;
}
.hobbie > .text {
  padding: 10px;
}

.hobbie:hover > .icon {
  color: red;
}
.hobbie:hover > .icon rect {
  stroke: orange;
}
